#modelContainer {
    
    height: 100vh;
    width: 100%;
    /* background-color: #9260f0; */
    background: linear-gradient(180deg, #ffffff, #ffffff, #ffffff, #76ffe170, #ff9dce,#7f3afff1);
}

html{
    cursor:url('https://cur.cursors-4u.net/games/gam-2/gam198.png'),pointer ;
}

/*animation*/

  
  @keyframes typing {
    from {
      width: 0;
      
    }
    to {
      width: 100%;
     
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #fda5e0;
      
    }
  }
  

.home-title h3{
    font-family: "123";
    font-size: 48px;
 
  color: #ffbee3;
  letter-spacing: 4px;
    text-align: left;
    margin: 0%;
    position: absolute;
    z-index: 999;
    justify-content: baseline;
    white-space: nowrap;
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc, 

    0 2px 0 #aefffc,

    0 3px 0 #ff6cce,

    0 4px 0 #df38fc,

    0 5px 0 #bc74ff,

    0 6px 1px rgba(0, 0, 0, 0.162),

    0 0 5px rgba(0,0,0,.1),

    0 1px 3px rgba(0,0,0,.3),

    0 3px 5px rgba(0,0,0,.2),

    0 5px 10px rgba(0,0,0,.25),

    0 10px 10px rgba(0,0,0,.2),

    0 20px 20px rgba(0,0,0,.15);
    animation: typing 3s steps(12), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.25em solid rgb(252, 250, 250);
}

.home-title {
    font-family: "123";

  padding: 8%;
  color: #e3089e;
  letter-spacing: 4px;
    text-align: left;
    margin: 0%;
    position: absolute;
    z-index: 999;
    justify-content: baseline;
}

.home-title h5{
    
    padding-top: 35%;
    font-size: 16px;
}



.interactionWindow{
    background: #fff;
    opacity: 80%;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 0.5em 1em;
    position: fixed;
    top: 80px;
    left: 50%;
    width: max-content;
    height: max-content;
    transform: translate(-50%,0%);
    animation: fadein 2s;
}

.presentWindow{
    background: #fff;
    opacity: 80%;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding: 0.5em 1em;
    max-width: 300px;
    overflow-wrap: break-word;
    position: fixed;
    top: 140px;
    right: 50px;
    width: max-content;
    height: max-content;
    /* transform: translate(-50%, -50%); */

   }

.viewButton {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate(-50%, -50%);
    animation: fadein 3s;
}
/* composes: xxx; */
.returnButton {
    background: #ff40a0;
    opacity: 80%;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 95px;
    right: 50px;
    width: max-content;
    height: max-content;
    animation: fadein 2s;
    /* transform: translate(-50%, -50%); */
}

@media (max-width: 768px) {
    .interactionWindow{
       
        font-size: 10px;
 
        top: 140px;
 
    }
}

/* 平板设备 CSS */
@media only screen and (max-width: 1024px) {
  .home-title h3 {
    font-size: 64px;
    position: relative;
    margin-top: 20%;
  }

  .home-title h5 {
    padding-top: 5%;
    font-size: 16px;
  }

  .interactionWindow {
    top: 40px;
  }

  .presentWindow {
    top: 80px;
    right: 10px;
  }

  .viewButton {
    font-size: 8px;
  }

  .returnButton {
    top: 60px;
    right: 10px;
    font-size: 9px;
  }
}

/* 手机设备 CSS */
@media only screen and (max-width: 376px) {
  .home-title h3 {
    z-index: -1;
    margin-top: 25%;
    position: relative;
    font-size: 30px;
  }

  .home-title h5 {
    padding-top: 5%;
    font-size: 10px;
  }

  .interactionWindow {
    top: 20px;
  }

  .presentWindow {
    top: 60px;
    right: 5px;
  }

  .viewButton {
    font-size: 6px;
  }

  .returnButton {
    top: 90%;
    right: 5%;
    font-size: 7px;
    z-index: 999;
  }
}